<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowerShop"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Customer.CustomerProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.Customer.CustomerViewOrder"
            android:exported="false" />
        <activity
            android:name=".Activities.Customer.Billing"
            android:exported="false" />
        <activity
            android:name=".Activities.Customer.CartActivity"
            android:exported="false" />

        <activity
            android:name=".Activities.Customer.ViewProductPage"
            android:exported="false" />
        <activity
            android:name=".Activities.Customer.CustomerHome"
            android:exported="false" />

        <activity
            android:name=".Activities.Vendor.AddProduct"
            android:exported="false" />
        <activity
            android:name=".Activities.Vendor.EditProduct"
            android:exported="false" />
        <activity
            android:name=".Activities.Vendor.VendorViewOrder"
            android:exported="false" />
        <activity
            android:name=".Activities.Vendor.VendorHome"
            android:exported="false" />
        <activity
            android:name=".Activities.All.Register"
            android:exported="false" />
        <activity
            android:name=".Activities.All.Login"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>